*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project
node_modules/*
ssl/*
jspm_packages
bower_components
#src/*.js
#src/**/*.js
#src/salesforce/*.js
#src/salesforce/**/*.js
#/src/*.map
#/src/**/*.map
#src/salesforce/*.map
#src/salesforce/**/*.map
#tests/*.js
#dist/*
#tests/**/*.js
#docs/*